.section-2 {
    display: flex;
    background-color: #F8F8F8;
    padding: 2rem;
}

.content-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.left-reviews {
    width: 45%;
}

.stars {
    width: 35%;
}

.review-comment {
    color: #000000;
    line-height: 1.4;
}

.review-comment {
    margin: 2rem 0;
}

.reviewer-img {
    width: 35%;
}

.section-2-container {
    margin: 3rem auto;
    justify-content: space-between;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 65%;
}