@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.footer {
    padding: 1.5rem;
    background-color: #F8F8F8;
}

.footer-container {
    width: 72%;
    margin: auto;
}

.top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F8F8;
    position: relative;
    z-index: 2;
}

.footer-container hr {
    border-width: 0;
    background-color: #C4C4C4;
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-footer img {
    width: 3.5%;
}

.top-footer p {
    color: #848484;
}

.social-networks img {
    width: 50%;
}

.social-networks a {
    display: flex;
    align-items: end;
}

.social-networks {
    width: 35%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.social-networks ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.social-container {
    display: flex;
    align-items: end;
}

.social-container img {
    width: 100%;
    display: flex;
    align-items: end;
}

.social-networks a:hover {
    transform: scale(1.2);
}