@media screen and (max-width: 860px) {
    br {
        display: none;
    }

    .hide-element {
        display: none;
    }

    .guides {
        flex-direction: column-reverse;
    }

    .guides img {
        width: 80%;
    }

    .content-container {
        flex-direction: column-reverse;
    }

    .reviewer-img {
        width: 60%;
    }

    .section-title {
        text-align: center;
    }

    .left-reviews {
        width: 90%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left-info h1 {
        text-align: center;
    }

    .left-info p {
        text-align: center;
    }

    .left-reviews p {
        text-align: center;
    }

    .stars {
        margin: auto;
        width: 60%;
    }

    .blog {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .blog h3 {
        text-align: center;
    }

    .blog a {
        text-align: center;
    }

    .blog p {
        text-align: center;
    }

    .blogs {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .blog-img {
        margin: auto;
        width: 70%;
    }

    .top-line {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .top-line h1 {
        text-align: center;
    }

    .section-2-container {
        display: flex;
        align-items: center;
    }

    .section-2 {
        padding: 0;
    }

    .section-3 {
        padding: 0;
    }

    .top-footer {
        display: flex;
        flex-direction: column;
    }

    .top-footer img {
        width: 10%;
    }

    .social-networks img {
        width: 100%;
    }

    .social-networks {
        width: 90%;
    }

    .stories-container {
        padding: 0;
        width: 80%;
    }

    .footer {
        padding: 2rem 0;
    }

    .footer-container {
        margin: 0;
        width: 100%;
    }

    .footer hr {
        width: 90%;
    }
}

@media screen and (max-width: 860px) {
    .burger-menu {
        display: flex;
    }
}

@media screen and (min-width: 861px) {
    .burger-menu-nav {
        visibility: hidden;
    }
}

@media screen and (min-width: 2560px) {
    body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header {
        width: 70%;
    }
}
